<aside class="side-bar">
  <div class="side-bar-logo">
    <a href="/index.html"
      ><img
        src="/frontend/assets/images/logo.png"
        alt="Health Circuit Admin Logo"
    /></a>
  </div>
  <nav class="side-bar-nav">
    <ul>
      <li>
        <a href="home.html" class="nav-item" data-page="home"
          ><i class="fas fa-home"></i> Home</a
        >
      </li>
      <li>
        <a
          href="/frontend/admin/all-articles.html"
          class="nav-item"
          data-page="admin_articles"
          ><i class="fas fa-clipboard-list"></i> All Articles</a
        >
      </li>
      <li>
        <a
          href="/frontend/admin/new-content.html"
          class="nav-item"
          data-page="add_new_content"
          ><i class="fas fa-plus-circle"></i> Add New Content</a
        >
      </li>
      <li>
        <a
          href="/frontend/admin/manage-category.html"
          class="nav-item"
          data-page="manage_categories"
          ><i class="fas fa-sliders-h"></i> Manage Categories</a
        >
      </li>
      <li>
        <a
          href="user_management.html"
          class="nav-item"
          data-page="user_management"
          ><i class="fas fa-users"></i> User Management</a
        >
      </li>
      <li>
        <a href="settings.html" class="nav-item" data-page="settings"
          ><i class="fas fa-cog"></i> Settings</a
        >
      </li>
      <li>
        <a href="logout.html" class="nav-item" data-page="logout"
          ><i class="fas fa-sign-out-alt"></i> Log Out</a
        >
      </li>
    </ul>
  </nav>
</aside>
