@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.login {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

img {
  padding: 30px;
  margin-left: 0;
  margin-right: 100px;
  border-radius: 5px;
  border: 1px solid rgb(199, 197, 197);
  width: 200px;
}

input.invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  display: block;
}

.message {
  text-align: center;
  margin-top: 1rem;
  color: green;
}

.imag {
  border-radius: 10px;
}
.forms {
  padding: 50px;
  border: 1px solid rgb(199, 197, 197);
  border-radius: 5px;
}

input[type="password"],
input[type="email"] {
  width: 40rem;
  height: 4rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(199, 197, 197);
  gap: 5px;
}

input[type="email"] {
  margin-bottom: 20px;
}

.password {
  position: relative;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  color: #3b82f6;
  margin-top: 10px;
}

.fa-eye-slash {
  color: #8d8ba7;
  position: absolute;
  top: 25px;
  right: 15px;
}

.text-account {
  text-align: center;
}
.button {
  background-color: #1e3a8a;
  color: white;
  height: 3rem;
  width: 17rem;
  text-align: center;
  border-radius: 5px;
  margin-left: 11rem;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.wlc-head {
  font-family: "Roboto";
  font-size: 1.5rem;
}

.sign-in {
  color: #bcbcbc;
  font-family: "Roboto";
  font-size: 1rem;
}

.welcome-txt {
  margin: 15px 0;
  display: none;
}

.message {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Media query for mobile  (smaller than 640px) */
@media (max-width: 370px) {
  .login {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
  }
  img {
    border-radius: 10px;
    padding: 30px;
    margin-left: 0;
    margin-right: 100px;
    border-radius: 5px;
    border: 1px solid rgb(199, 197, 197);
    width: 150px;
  }
  .imag {
    border-radius: 15px;
  }
  .forms {
    padding: 2rem;
    padding-left: 0.5rem;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 5px;
  }
  input[type="password"],
  input[type="email"] {
    width: 12rem;
    height: 3rem;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
  }
  .forgot {
    margin-left: 8rem;
    font-size: 12px;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e3a8a;
    color: white;
    height: 2rem;
    width: 12rem;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    font-size: 15px;
  }

  .welcome-txt {
    display: block;
  }
}
/* Media query for mobile  (smaller than 640px) */
@media (min-width: 371px) and (max-width: 760px) {
  .login {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    justify-content: center;
  }

  input[type="password"],
  input[type="email"] {
    width: 100%;
    height: 3rem;
    padding-right: auto;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
  }
  .forgot {
    text-align: right;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e3a8a;
    color: white;
    height: 3rem;
    width: 13rem;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    font-size: 15px;
  }
  .text-account {
    text-align: center;
    margin-top: 15px;
  }

  .welcome-txt {
    display: block;
  }

  .fa-eye-slash {
    top: 18px;
  }
}
