.f-roboto {
  font-family: "Roboto";
}

.f-inter {
  font-family: "Inter";
}

.bg-grey {
  background-color: #f3f3f6;
}

.google-btn {
  background-color: #ffffff;
  border: none;
  font-size: 0.6rem;
}

.hr-text {
  text-align: center;
  border-bottom: 1px solid #000000;
  width: 100%;
  line-height: 12px;
}

.hr-text span {
  background: #f3f3f6;
  padding: 0 10px;
}

.sign-up-btn {
  background-color: #1e3a8a;
  color: #ffffff;
  width: 80%;
}

.form-control::placeholder {
  color: #bcbcbc;
}

.info {
  color: #bcbcbc;
  margin-top: -0.8rem;
  font-weight: bold;
}

@media (min-width: 992px) {
  form {
    background-color: #f3f3f6;
  }
}

.logo {
  border-radius: 1rem;
}

.fa-eye-slash {
  color: #bcbcbc;
}
