<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Navigation</title>
</head>
<body>
    <header>
       <div class="logo-container">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">HealthNews</a></li>
                <li><a href="#">Wellness</a></li>
                <li><a href="#">Nutrition</a></li>
                <li><a href="#">Public Health</a></li>
                <li><a href="#">Health Tips</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>
        <div class="search-container" id="searchContainer">
            <button class="search-icon" id="searchBtn" aria-label="Search">
                <i class="fas fa-search"></i>
            </button>
            <input type="text" class="search-box" id="searchBox" placeholder="Search...">
        </div>
    </header>
    <script src=""></script>
</body>
</html>