@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Roboto:'Roboto', sans-serif;
  --Inter:'Inter', sans-serif;
  --Open-Sans: 'Open Sans', sans-serif;
  --primary-1:#1e3a8a;
  --primary-2: #3B82F6;
  --neutral-1: #374151;
  --neutral-2: #F3F4F6;
  --neutral-3: #FFFFFF;
  --accent-1: #10B981;
  --accent-2: #F59E0B;
  --accent-3: #EF4444;
  --fontsize-heading-main:36px;
  --fontsize-section-title: 28px;
  --fontsize-body: 16px;
}
body {
  font-family: var(--Inter);
  font-size: var(--fontsize-body);
  color: var(--neutral-1);
  background-color: var(--neutral-3);
}

img {
  max-width: 100%;
  display: block;
}
main{
  margin: 0 auto;
  padding: 0 1rem;
}

.page-title h1 {
  font-size: var(--fontsize-section-title);
  color: var(--primary-1);
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}

.wellness-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  grid-auto-rows: minmax(366px, auto);
}
.article-card {
  display: flex;
  align-items:stretch;
  gap: 1rem;
}
.article-image {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;

}
.article-text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.article-category {
  text-transform: uppercase;
  color: var(--primary-2);
  font-family: var(--Roboto);
  font-size: 16px;
  font-weight: 700;
}

.article-title {
  font-family: var(--Open-Sans);
  font-size: 24px;
  font-weight: 600;
  color: #090909;
  padding-bottom: 2.5rem;
}
.article-details {
  font-size: var(--fontsize-body);
  font-family: var(--Inter);
  color: var(--neutral-1);
  font-weight: 500;
  margin-top: auto;
}


.ads-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-1);
  color: var(--neutral-3);
  font-size: var(--fontsize-body);
  font-weight: 500;
  padding: 2rem;
  border-radius: 10px;
  margin: 3rem auto;
  text-align: center;
}
